.menu-burger {
  position: fixed;
  right: 50px;
  top: 0;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000; }
  @media (max-width: 720px) {
    .menu-burger {
      top: unset;
      bottom: 0; } }

.menu-bar, .menu-bar::before, .menu-bar::after {
  background-color: white;
  width: 40px;
  height: 4px;
  transition: transform 0.3s; }

.menu-bar.is-active {
  transform: translateX(100px); }

.menu-bar::before, .menu-bar::after {
  content: '';
  display: block; }

.menu-bar::before {
  transform: translateY(-11px); }

.menu-bar.is-active::before {
  transform: translate(-100px, 0px) rotate(135deg); }

.menu-bar::after {
  transform: translateY(7px); }

.menu-bar.is-active::after {
  transform: translate(-100px, -4px) rotate(-135deg); }

.container-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 900;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s; }
  .container-menu.is-active {
    opacity: 1;
    pointer-events: unset; }
