.menu-burger{
  position: fixed;
  right: 50px;
  top:0;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  @media (max-width: 720px) {
    top:unset;
    bottom: 0;
  }
}

.menu-bar{
  &, &::before, &::after{
    background-color: white;
    width: 40px;
    height: 4px;
    transition: transform 0.3s;
  }
  
  &.is-active{
    transform: translateX(100px);
  }
  
  &::before, &::after{
    content: '';
    display: block;
  }
  
  &::before{
    transform: translateY(-11px)
  }
  
  &.is-active::before{
    transform: translate(-100px,0px) rotate(135deg);
  }
  
  &::after{
    transform: translateY(7px)
  }
  
  &.is-active::after{
    transform: translate(-100px,-4px) rotate(-135deg);
  }
}

.container-menu{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 900;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s;

  &.is-active{
    opacity: 1;
    pointer-events: unset;
  }
}